*{

	margin: 0px;

    padding: 0px;
    font-family: arial;

	box-sizing: border-box;

}

body{
	margin: 15px;

    padding: 15px;

	height: 100vh;

	display: grid;

	place-items: center;
	

	background: white;
	background-size: 100% 100%;

	background-repeat: no-repeat;

}

.table{

    width: 670px;
	background-color: white;
	border-radius: 10px;
	margin: 15px;
	
	border: 0.01px solid rgb(237, 243, 245);


}

 .table, .td, .th{

	padding: 20px;
	display: auto;	

	border-collapse: collapse;

	text-align: center;

	cursor: pointer;

}

.td{

	font-size: 12px;

}

.th{

    background-color: rgb(242, 242, 242);
    padding: 4px;
    color: #232a33;
	font-weight: 550;
	font-size: 0.91em;

}

.pl {
	display:none;
}

.tr {
	display: flex ;
	padding: 2.015px;
	background-color: rgba(252, 252, 252, 0.801);
	border: 0.01px solid rgb(247, 249, 250);
}


.tlr {
	
	background-color: rgba(252, 252, 252, 0.801);
	margin: 1.9px; /*  or use it border: 0.01px solid rgb(247, 249, 250); */
	display: flex;
    
}

.ad-copy {
	border: 0.01px solid rgb(247, 249, 250);
	background-color: rgb(242, 242, 242);
}


.opt:nth-child(odd){

    background-color: rgb(240, 250, 240);
    font-size: 12px;
    

}

.opt:nth-child(odd):hover{

	background-color: dodgerblue;

	color: white;

	transform: scale(1.5);

	transition: transform 300ms ease-in;

}

.opt:nth-child(even){

	background-color: #fae6e5;

}

.opt:nth-child(even):hover{

	background-color: rgb(84, 119, 93);

	transform: scale(1.5);

	transition: transform 300ms ease-in;


}